---
import '../styles/estilos.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<title>Swipe Out</title>
	</head>
<body>
<header class="header"></header>
	<section>
		<nav>
			<ul>
				<li><a href="https://www.youtube.com/live/31ayAeLMDzE?si=9P4bBE2tNi17ufPK">Evento Pasado</a></li>
				<li><a href="https://www.youtube.com/live/HcVjT0BjSv8?si=7LFSUG8gULBTl-1l">Transmisión</a></li>
			</ul>
		</nav>
	</section>
  <section class="formulario-section">
    <div class="formulario-container">
      <div class="formulario-iframe-wrap">
        <iframe class="formulario-iframe"
          title="Google Form"
          src="https://forms.gle/EqyiKyymgEsyJTHP6"
          allowfullscreen
          loading="lazy">
          Cargando…
        </iframe>
      </div>
  </section>
</body>
</html>
